
.topmain{background-color:  grey;}
.bodymain{background-color: black;}
body{background-color: black;}

h1{color: white;}
h3{color: white;}
p3{color: white;}

.topicons{float: left;}







nav {
  background-color: purple; /* Blue color */
  text-align: center; /* Center the text */
  padding: 1em; /* Add some padding */
}

nav ul {
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove margins */
  padding: 0; /* Remove padding */
}

nav li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px; /* Add some space between items */
}

nav a {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
}

nav a:hover {
  color: #ddd; /* Light gray on hover */
}

.navbar{position: sticky;
top: 0;
}


.toptabs{margin-right: 40px;}


stuff

.itsnotworking{color: white;}
.name{color: white;}
.email{color: white;}
.messages{color: white;}
.submit{color: white;}
.emailandphone{color: white;}
.emailandphone{float: right;}
emailandhone{margin-right: 40px}




stuff

Holy fuck

* {margin: 0;
padding: 0;}

html, body{height: 100%;}

#container1{min-height: 100%}

#themainc{overflow: auto;
padding-bottom: 100px;}


.thefooter{
background-color: purple;
position: relative:
height: 100px;
margin-top: -100px
clear: both;

}

.bottomgoogletab{float: top;}


.cfbutton{font-size: 20px;}
.cfbutton{margin-top: 30px;}

.toptitle2{margin-bottom: 40px;}

.emailfont{color: white;}
.bottomfont{color: white;}
.thegoog{color: white;}
